.justifyEnd {
  justify-content: flex-end;
}

.alignEnd {
  align-items: flex-end;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  .cardContainer {
    height: 172px;
    width: 270px;
    padding: 12px;
    border-radius: 6px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .cardHeader {
      align-self: flex-start;
      color: rgba(255, 255, 255, 0.7);
    }

    .card {
      height: 100px;
      width: 100px;
      object-fit: contain;
    }

    .bottomContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: inherit;
      width: 100%;

      .cardFooterText {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 2px;
      }
    }

    &.hide {
      display: none;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-radius: 18px;
      padding: 8px 12px;
  
      &.bgBlue {
        background-color: rgb(44, 98, 239);
        color: white;
      }

      .name {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 13px;
      }
  
      .message {
        word-wrap: break-word;
        margin-bottom: 5px;
        max-width: 500px;
        overflow-wrap: anywhere;
      }
    }
  
    .dummy {
      min-width: 100px;
      margin-right: 10px;
    }
  }
}