.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-width: 500px;
  margin: 30px auto;

  .chatList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
  }

  .chatInputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    .input {
      flex: 1;
      margin-right: 10px;
    }

    .button {
      flex: 0;
    }
  }
}